.navigation-container {
    display: flex;
    width: 17%;
}

.nav-toggle-active-navigation {
    width: 7%;
}

.default-active {
    display: flex;
}

.default-inactive {
    display: none;
}

.responsive-active {
    display: flex;
}

.responsive-inactive {
    display: none;
}

.navigation-container-default {
    width: 100%; 
    flex-flow: column;
    padding-top: 10px;
    color: #030303;
    overflow-y: hidden;

    hr {
        width: 100%;
        height: 1px;
        border-top: none;
        border-left: none;
        border-right: none;
        color: #606060;
    }
}

.navigation-container-responsive {
    overflow: hidden;
    flex-flow: column;
    width: 100%;

    .navigation-line-responsive {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #606060;
    }
}

.navigation-container-default:hover {
    overflow-y: auto;
}

.navigation-line {
    padding-left: 22px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;

    p {
        margin-left: 25px;
    }

    i, .fa-icons {
        color: #606060;
        font-size: 22px;
    }
}

.navigation-line:hover {
    background-color: #F2F2F2;
    transition: all 0.1s ease;
    cursor: pointer;
}

.sign-in-call-container {
    padding-left: 25px;
    padding-right: 15px;
    font-size: 14px;

    .sign-in-button {
       width: 10px;
       height: 37px;
    }
}

.title {
    padding-left: 22px;
    font-size: 14px;
    font-weight: 500;
    color: #606060;
    margin-top: 8px;
}

.best-of-youtube {

    img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }
}

.navigation-bottom-container {
    padding-left: 22px;
    padding-top: 5px;
    font-weight: 500;
    font-size: 13px;

    a {
        text-decoration: none;
        color: #606060;
        margin-right: 7px;
    }

    .navigation-bottom {
        margin-bottom: 10px;
        display: flex;
        flex-flow: column;

    }

    .navigation-bottom-row {
        display: flex;
        margin-bottom: 2px;
    }

    .copyright-text {
        color: #909090;
        padding-top: 20px;
        padding-bottom: 60px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #E5E5E5;
}

@media only screen and (max-width: 1335px) {
    .navigation-container {
        width: 7%;
    }

    .navigation-container-default {
        display: none;
    }

    .navigation-container-responsive {
        display: flex;
    }
}

@media only screen and (max-width: 808px) {
    .navigation-container {
        display: none;
    }
}
