.navigation-container {
    display: flex;
    width: 17%;
}

.nav-toggle-active-navigation {
    width: 7%;
}

.we-at-home {
    background-color: #E5E5E5; 


    .material-icons {
        color: #FF0000;
    }

    p {
        font-weight: 500;
    }
}

.we-at-home:hover {
    background-color: #d3d3d3 !important; 
    transition: all 0.1s ease;
    cursor: pointer;
}

.we-at-home-responsive {
    .material-icons {
        color: #FF0000;
    }

    p {
        font-weight: 500;
    }
}

.navigation-container-default {
    width: 100%; 
    display: flex;
    flex-flow: column;
    padding-top: 10px;
    color: #030303;
    overflow-y: hidden;

    hr {
        width: 100%;
        height: 1px;
        border-top: none;
        border-left: none;
        border-right: none;
        color: #606060;
    }
}

.navigation-container-responsive {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    width: 100%;

    
}

.navigation-container-default:hover {
    overflow-y: auto;
}


.sign-in-call-container {
    padding-left: 25px;
    padding-right: 15px;
    font-size: 14px;

    .sign-in-button {
       width: 10px;
       height: 37px;
    }
}

.navigation-title {
    padding-left: 22px;
    font-size: 14px;
    font-weight: 500;
    color: #606060;
    margin-top: 8px;
}


.navigation-bottom-container {
    padding-left: 22px;
    padding-top: 5px;
    font-weight: 500;
    font-size: 13px;

    .copyright-text {
        color: #909090;
        padding-top: 20px;
        padding-bottom: 60px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #E5E5E5;
}

@media only screen and (max-width: 1335px) {
    .navigation-container {
        width: 7%;
    }

    .no-navigation-and-screen-size-medium {
        width: 0% !important;
    }

    .navigation-container-default {
        display: none;
    }

    .navigation-container-responsive {
        display: flex;
    }
}

@media only screen and (max-width: 808px) {
    .navigation-container {
        display: none;
    }
}
