.video-container {
    display: flex;
    flex-flow: column;
    width: 255px;
    margin-bottom: 40px;
    cursor: pointer;
}

.video-preview-img {
    width: 255px;
    height: 143px;
}

.user-avatar-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.video-preview-top {
    margin-top: 15px;
    display: flex;
}

.video-preview-title {
    color: #030303;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    margin-left: 10px;
}

.video-preview-middle {
    margin-left: 46px;
    color: #606060;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 1px;
}

.video-preview-bottom {
    color: #606060;
    font-size: 14px;
    margin-left: 46px;
    display: flex;
    
}

.video-preview-dot {
    margin: 0px 4px;
}